@model SolicitudDonacion
@{
    ViewData["Title"] = "Donation Request";
}

<div class="text-center">
    <h2 class="display-4">Ask for a donation</h2>
    <br />

    <form asp-action="CrearSolicitud">
        <input hidden asp-for="UsuarioId" />
        <div class="form-group row">
            <div class="col-4"></div>
            <div class="col-4 ">
                <input asp-for="adress" class="form-control" placeholder="Address" />
            </div>

        </div>
        <div class="form-group row">
            <div class="col-4"></div>
            <div class="col-4">
                <textarea asp-for="objeto" type="text" rows="3" class="form-control" placeholder="Object description"></textarea>
            </div>

        </div>

        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <input type="submit" class="btn btn-info text-white btn-block" value="Submit your request" />
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <a asp-controller="Home" asp-action="HomePage" asp-route-UsuarioId="@ViewBag.UsuarioId" class="btn btn-info text-white btn-block">Back to home</a>

            </div>
        </div>
    </form>



</div>
