@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center"><h1 class="display-4">Free Cycle</h1></div>


<br />
<br />
<br />
<br />


<div class="row">
    <div class="col-3"></div>

    <div class="col-3"> <a asp-controller="Donaciones" asp-action="SolicitudDonacion" class="btn btn-info text-white btn-lg btn-block">Ask for a Donation</a></div>
    <div class="col-3">
        <a class="btn btn-info text-white btn-block btn-lg">Make a Donation</a>
    </div>
    <div class="col-3"></div>
</div>
