
@{
    ViewData["Title"] = "HomePage";
}
<div class="text-center"><h1>Free Cycle</h1></div>
<br/>
<br />
<br/>
<br/>

<div class="row">
    <div class="col-3"></div>

    <div class="col-3"> <a class="btn btn-info text-white btn-block">Ask for a Donation</a></div>
    <div class="col-3">
        <a class="btn btn-info text-white btn-block">Make a Donation</a>
    </div>
    <div class="col-3"></div>
</div>