@{
    ViewData["Title"] = "Home Page";
}

<main role="main">

    <div class="text-center">
        <img src="/Imagenes/FreeCycle.png" class="rounded-circle" height="162" width="377" />
    </div>

    <div class="text-center">
        <h1 class="display-4">Welcome!</h1>
    </div>

    <br/>

    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p style="text-align: justify">
                        In FreeCycle, we want you to connect with other people that have similar needs.<br />
                        Have you ever wanted to donate something that you don't use anymore?, however you don't know who might want it or maybe your situation is different and you're looking for something, but before wasting money on it, you wonder if someone could have that item and is looking to donate it?. <br />
                    </p>
                    <img src="/Imagenes/Donacion.png" height="100" width="500" />
                </div>
                <div class="col-md-6">
                    <p style="text-align: justify">
                        If that's your case we introduce you FreeCycle, a website where you can post your donation offers or your donation requests, all we need is your location, the item description and if you're offering, the status of the item, so people that are looking to take that offer or donating your request can easily deal the donation.
                        <br />
                        <br />
                        Let's get started!
                        <br />
                        <br />
                    </p>
                    <div class="text-center">
                        <p><a class="btn btn-info text-white btn-lg btn-block" href="/Home/InicioSesion" role="button">Sign In &raquo;</a></p>
                    </div>                  
                </div>
            </div>
        </div> <!-- /container -->  
    </div>

</main>







