@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="text-center"><h2>Sign Up</h2></div>


<form asp-action="Registro">
    <br />
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 ">
            <input type="text" class="form-control" name="Nombre" placeholder="Your name" />
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 ">
            <input type="email" class="form-control"  placeholder="Email" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 ">
            <input type="password" class="form-control" placeholder="Password" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 ">
            <input class="form-control" placeholder="Phone Number" />
        </div>
    </div>


    <br />

    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <a class="btn btn-info text-white btn-block">Sign Up</a>
        </div>
    </div>


    </form>

